.element-3d {
    --face-size: 80px;
    z-index: 1;

    position: absolute;
    bottom: 20px;
    right: 20px;

    width: var(--face-size);
    height: var(--face-size);


    perspective: 50rem;
    perspective-origin: center;
    /* perspective-origin: calc(var(--face-size)/2) calc(var(--face-size)/2); */
    transform-style: preserve-3d;
    transform-origin: 40px 40px -40px;
}

.cube-face {
    position: absolute;
    top: 0;
    bottom: 0;

    width: var(--face-size);
    height: var(--face-size);

    font-size: 60px;
    background-color: rgba(255, 0, 0, 1);
}
.cube-face > p {
    margin: 0;
    padding: auto 0;
    width: 100%;
    height: 100%;
}


#back {
    transform: translate3d(0,0, -80px);
}
#left {
    transform: translate3d(-40px, 0, -40px) rotate3d(0,1,0, -90deg);
}
#right {
    transform: translate3d(40px, 0, -40px) rotate3d(0,1,0, 90deg);
}
#top {
    transform: translate3d(0, -40px, -40px) rotate3d(1,0,0, 90deg);
}
#bottom {
    transform: translate3d(0, 40px, -40px) rotate3d(1,0,0, -90deg);
}



.rotate-3d {
    animation: anim-rotate-3d 30s ease var(--anim-delay, 0s) infinite normal both;
}
@keyframes anim-rotate-3d {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    17% {
        transform: rotateX(90deg) rotateY(0) rotateZ(0);
    }
    33% {
        transform: rotateX(270deg) rotateY(0) rotateZ(0);
    }
    50% {
        transform: rotateX(360deg) rotateY(90deg) rotateZ(0);
    }
    67% {
        transform: rotateX(360deg) rotateY(180deg) rotateZ(0);
    }
    83% {
        transform: rotateX(360deg) rotateY(270deg) rotateZ(0);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(0);
    }
}