#drdesten-shader {
    background-image: var(--bg-random-trans), url("./projects/drdesten-shader-bg.jpg");
    background-position: center;
    background-size: cover;
}

#stracc-shader {
    background-image: var(--bg-random-trans), url("./projects/stracc-bg.jpg");
    background-position: center;
    background-size: cover;
}

#asi-glsl {
    background-image: var(--bg-random-trans), url("./projects/asi-bg.jpg");
    background-position: center;
    background-size: cover;
}