@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --bg-c: white;
  --bg-c2a: rgb(47, 73, 88);
  --bg-c2b: rgb(61, 45, 90);
  --bg-c2: linear-gradient(165deg, var(--bg-c2a) 0%, var(--bg-c2b) 100%);
  --gb-c2-trans: linear-gradient(215deg, rgba(47, 73, 88, 0.55) 0%, rgba(62, 49, 97, 0.7) 100%);

  --text-dark: black;
  --text-dark2: var(--bg-c2b);
  --text-light: white;

  --text-dark-a: var(--bg-c2b);
  --text-light-a: #f8d977;

  --ele-shadow: 0 0 3rem rgba(0, 0, 0, 0.15);
  --ele-shadow-l: 0 0 2rem rgba(0, 0, 0, 0.1);
  --ele-shadow-d: 0 0 2rem rgba(0, 0, 0, 0.5);

  --text-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
  --text-shadow-l: 0 0 0.4em rgba(0, 0, 0, 0.1);
  --text-shadow-d: 0 0 0.4em rgba(0, 0, 0, 0.75);

  --border-rad: 0.15rem;

  --snap-ease: cubic-bezier(.25,0,0,1);
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--text-dark);

  padding: 0px 2rem;
  /* Backup */
  padding: 0px clamp(0.3rem, 5vw, 5rem);
  margin: 0px;

  overflow-x: hidden;
}


a {
  text-decoration: inherit;
  color: inherit;
}

a:hover,
a:focus {
  font-weight: bold;
}

h1 {
  font-size: 9vw;
  /* Backup */
  font-size: min(9vw, 6.5rem);
  font-weight: bold;
  width: fit-content;
  margin: 0.25em 0;
}

h2 {
  font-size: 1.5rem;
  /* Backup */
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: normal;
  color: var(--text-dark2);
}

h3 {
  font-size: 2rem;
  /* Backup */
  font-size: clamp(1.5rem, 6vw, 2rem);
  font-weight: normal;
}

input,
textarea {
  --input-margin: 0.2em;
  --input-padding: 0.15em;


  font-size: inherit;
  font-family: inherit;

  border: none;
  border-radius: var(--border-rad);
  padding: var(--input-padding);
  margin: var(--input-margin);
}

input[type="button"] {
  padding: var(--input-padding) 0.5em;
  transition: background-color 0.2s;
}

input[type="button"]:hover,
input[type="button"]:focus {
  background-color: var(--text-light-a);
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
}

input[type="range"] {
  appearance: none;
  outline: none;
  height: 0.1em;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  appearance: none;
  outline: none;
  border: none;
  width: 0.75em;
  height: 0.75em;
  background-color: rgb(168, 190, 199);
}

textarea {
  width: 100%;
}

label {
  font-weight: bold;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
  font-size: inherit;
}

.icon {
  position: absolute;
  bottom: 0;
  left: 0;

  margin: 1rem;

  width: 3rem;
  /* Backup */
  width: min(10vh, 10vw, 4rem);
  height: auto;

  border-radius: 50%;

  transition: box-shadow 0.2s ease-in-out;
}

.icon:hover,
a:focus>.icon {
  /* Icon hover + Link focus with icon as child */
  box-shadow: var(--ele-shadow-d), inset var(--ele-shadow-d);
}


/* NAVIGATION BAR ///////////////////////////////////////////////////////////////////////////// */

table.nav {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;

  width: 200%;
  padding: 0.5rem 50%;
  transform: translateX(25%);

  background-color: white;

  transition: box-shadow 1s;
}

a.nav {
  display: inline-block;
  width: fit-content;
  min-width: 25%;

  text-decoration: none;
  font-size: 1.1rem;
  font-weight: lighter;
  padding: 0.8rem;

  color: black;
  border-radius: 0.5rem;

  transition: background-color 0.2s ease-in-out;
}

a.nav:hover {
  background-color: rgb(245, 245, 245);
}

#nav-padding {
  width: 100%;
  height: 0rem;
  visibility: hidden;
}

.nav-shadow {
  box-shadow: var(--ele-shadow);
}

/* PAGE HEADER ///////////////////////////////////////////////////////////////////////////// */

header.fillscreen {
  width: 100%;
  height: 90vh;
  position: relative;
}

header.fillscreen>.fillscreen-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: max-content;
  text-align: center;

  font-family: 'Ubuntu Mono', monospace;
}

.header-subtitle {
  animation: fadeIn 2s ease 6s backwards;
}

.fillscreen-bottom {
  position: absolute;
  bottom: 7vh;
  width: 100%;
  text-align: center;
}

.fillscreen-bottom>img {
  display: inline;
  width: 3rem;
  height: auto;
  margin: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }

  to {
    opacity: 1;
    transform: translateY(0em);
  }
}

/* TYPEWRITER ANIMATION ///////////////////////////////////////////////////////////////////////////// */

.typewriter {
  position: relative;
}

.typewriter::before,
.typewriter::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
}

.typewriter::before {
  background-color: var(--bg-c);
  animation: var(--tw-anim-before);
}

.typewriter::after {
  width: 0.125em;
  background-color: black;
  border-radius: var(--border-rad);
  animation: var(--tw-anim-after), blink 600ms ease-in-out infinite alternate;
}

@keyframes typewriter-animation {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

/* PARAGRAPHS / TEXT SECTIONS ///////////////////////////////////////////////////////////////////////////// */

#main-content {
  /* Prevents jumping to #main-content resulting in the section being hidden by the navbar */
  transform: translateY(-4.5rem);
}

section.paragraph {
  padding: 1.5rem 2.5rem;
  padding: clamp(0.5rem, 5vw, 1.5rem) clamp(0.5rem, 6vw, 2.5rem);
  margin: 2rem 0px;

  border-radius: var(--border-rad);
  transition: opacity 0.9s var(--snap-ease)
}

/* Color Alternation for paragraph sections */
section.color-variation-1 {
  background: var(--bg-c2);
  color: var(--text-light);
}

section.color-variation-1 a {
  color: var(--text-light-a);
}

section.color-variation-2 {
  background: var(--bg-c);
  color: var(--text-dark);
  box-shadow: var(--ele-shadow-l);
}

section.color-variation-2 a {
  color: var(--text-dark-a);
}

p.paragraph {
  font-size: 1rem;
}

h3.paragraph {
  margin: 0.5rem 0px;
}

/* CHARTS ///////////////////////////////////////////////////////////////////////////// */

.chart {
  position: relative;
  margin: 0px auto;
  max-height: 20rem;
  max-width: 20rem;
}

/* LOADING BAR ///////////////////////////////////////////////////////////////////////////// */

.loading {
  position: relative;
  width: 100%;
  height: 1em;
  background-color: rgb(55, 212, 41);
  border-radius: 0.25em;

  transition: width 0.1s ease-in-out, background-color 1s ease-in-out;
}

/* TABLE ///////////////////////////////////////////////////////////////////////////// */

table td {
  text-align: left;
  vertical-align: top;
}


/* UTILITY CLASSES ///////////////////////////////////////////////////////////////////////////// */

.nomargin {
  margin: 0;
}

.lowmargin {
  margin: 0.25em 0;
}