.icon {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 1rem;

    width: 3rem;
    /* Backup */
    width: min(10vh, 10vw, 4rem);
    height: auto;

    border-radius: 50%;

    transition: box-shadow 0.2s ease-in-out;
}

.icon:hover,
a:focus>.icon {
    /* Icon hover + Link focus with icon as child */
    box-shadow: var(--ele-shadow-d), inset var(--ele-shadow-d);
}


/* NAVIGATION BAR ///////////////////////////////////////////////////////////////////////////// */

table.nav {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;

    width: 200%;
    padding: 0.5rem 50%;
    transform: translateX(25%);

    background-color: white;

    transition: box-shadow 1s;
}

a.nav {
    display: inline-block;
    width: fit-content;
    min-width: 25%;

    text-decoration: none;
    font-size: 1.1rem;
    font-weight: lighter;
    padding: 0.8rem;

    color: black;
    border-radius: 0.5rem;

    transition: background-color 0.2s ease-in-out;
}

a.nav:hover {
    background-color: rgb(245, 245, 245);
}

#nav-padding {
    width: 100%;
    height: 0rem;
    visibility: hidden;
}

.nav-shadow {
    box-shadow: var(--ele-shadow);
}

/* PAGE HEADER ///////////////////////////////////////////////////////////////////////////// */

header.fillscreen {
    width: 100%;
    height: 90vh;
    position: relative;
}

header.fillscreen>.fillscreen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: max-content;
    text-align: center;

    font-family: 'Ubuntu Mono', monospace;
}

.header-subtitle {
    animation: fadeIn 2s ease 6s backwards;
}

.fillscreen-bottom {
    position: absolute;
    bottom: 7vh;
    width: 100%;
    text-align: center;
}

.fillscreen-bottom>img {
    display: inline;
    width: 3rem;
    height: auto;
    margin: 1rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-1em);
    }

    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

/* TYPEWRITER ANIMATION ///////////////////////////////////////////////////////////////////////////// */

.typewriter {
    position: relative;
    animation: fadeIn 0.5s forwards;
}

.typewriter::before,
.typewriter::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
}

.typewriter::before {
    background-color: var(--bg-c);
    animation: var(--tw-anim-before);
}

.typewriter::after {
    width: 0.125em;
    background-color: black;
    border-radius: var(--border-rad);
    animation: var(--tw-anim-after), blink 600ms ease-in-out infinite alternate;
}

@keyframes typewriter-animation {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

/* PARAGRAPHS / TEXT SECTIONS ///////////////////////////////////////////////////////////////////////////// */

#main-content {
    /* Prevents jumping to #main-content resulting in the section being hidden by the navbar */
    transform: translateY(-4.5rem);
}

section.paragraph {
    padding: 1.5rem 2.5rem;
    padding: clamp(0.5rem, 5vw, 1.5rem) clamp(0.5rem, 6vw, 2.5rem);
    margin: 2rem 0px;

    border-radius: var(--border-rad);
    transition: opacity 0.9s var(--snap-ease), transform 0.4s var(--snap-ease)
}

section.paragraph-hidden {
    opacity: 0;
    transform: scale(95%);
}

section.paragraph-visible {
    opacity: 1;
    transform: scale(100%);
}

section.retractable > *:not(:first-child) {
    /* transition: opacity 0.5s var(--snap-ease), height 0.5s var(--snap-ease); */
}
section.retractable[retracted="true"] > *:not(:first-child) {
    display: none;
}
section.retractable[retracted="false"] > *:first-child::after {
    content: " -";
}
section.retractable[retracted="true"] > *:first-child::after {
    content: " +";
}


/* Color Alternation for paragraph sections */
section.paragraph {
    --bg-random: var(--bg-c2);
    --bg-random-trans: var(--gb-c2-trans);
}

section.color-variation-dark {
    background: var(--bg-random);
    color: var(--text-light);
}

section.color-variation-dark a {
    color: var(--text-light-a);
}


p.paragraph {
    font-size: 1rem;
}

h3.paragraph {
    margin: 0.5rem 0px;
}

/* CHARTS ///////////////////////////////////////////////////////////////////////////// */

.chart {
    position: relative;
    margin: 0px auto;
    max-height: 20rem;
    max-width: 20rem;
}

/* LOADING BAR ///////////////////////////////////////////////////////////////////////////// */

.loading {
    position: relative;
    width: 100%;
    height: 1em;
    background-color: rgb(55, 212, 41);
    border-radius: 0.25em;

    transition: width 0.1s ease-in-out, background-color 1s ease-in-out;
}

/* UTILITY CLASSES ///////////////////////////////////////////////////////////////////////////// */

.nomargin {
    margin: 0;
}

.lowmargin {
    margin: 0.25em 0;
}