.display {
    margin: 1em;
}

div>canvas {
    background: linear-gradient(60deg, #bbb, #ddd);
}

.canvas-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}

#main-container {
    position: absolute;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
}

#minimap-overlay {
    position: absolute;
    top: 2em;
    right: 2em;
    background: none;
    width: min(min(40vw, 40vh), max(30vw, 30vh));
}

#minimap-container {
    width: min(min(40vw, 40vh), max(30vw, 30vh));
    height: min(min(40vw, 40vh), max(30vw, 30vh));
}

#minimap-position {
    flex-wrap: wrap;
    width: auto;
    overflow: hidden;
}

#minimap-position>* {
    flex: 1 1 50%;
    min-width: max-content;
}


/* */

.ui {
    margin: 2em;
}

.translucent-panel {
    width: fit-content;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: var(--border-rad);

    background-color: var(--bg-trans);
    backdrop-filter: blur(1em);
}

.translucent-panel[grid] {
    grid-template-columns: auto;
    padding: 0.125em;
    gap: 0;
}

.translucent-panel[grid]>* {
    margin: 0.125em;
}

#position {
    grid-template-columns: auto auto auto;
}

span.key {
    font-weight: bold;
}

button,
input {
    background-color: var(--bg-trans);
    margin: 0;
}

button {
    font-weight: bold;
    padding: 0.25em;
    margin: 0em;
}

input.number[name="red"] {
    background-color: rgba(255, 100, 100, 0.5);
}

input.number[name="green"] {
    background-color: rgba(100, 255, 100, 0.5);
}

input.number[name="blue"] {
    background-color: rgba(100, 100, 255, 0.5);
}